Database -> Tables -> Rows & Columns

# Sqlite
## Create a database from scratch

```
$ sqlite3 testDB.db
sqlite> CREATE TABLE COMPANY(
   ID INT PRIMARY KEY     NOT NULL,
   NAME           TEXT    NOT NULL,
   AGE            INT     NOT NULL,
   ADDRESS        CHAR(50),
   SALARY         REAL
);
sqlite> CREATE TABLE DEPARTMENT(
   ID INT PRIMARY KEY      NOT NULL,
   DEPT           CHAR(50) NOT NULL,
   EMP_ID         INT      NOT NULL
);
```

## Create a database from csv file

```
$ sqlite3 testDB.db
sqlite> .separator ","
sqlite> .import "../../Projects/Variational_Bayes/data/oldfaithful.csv" oldfaithful

$ sqlite3 testDB.db
sqlite> .separator ","
sqlite> .import "./studentPerformance.csv" performance
```

# Connecting to a database using Python
## Engines and Connection Strings

* Local database

In [1]:
from sqlalchemy import create_engine
# Create an engine that connects to the testDB.db file
engine = create_engine('sqlite:///testDB.db')
connection = engine.connect()
# Print table names
print(engine.table_names())

['COMPANY', 'DEPARTMENT', 'Performance', 'oldfaithful']

* database on the sever

In [9]:
from sqlalchemy import create_engine, Table, MetaData, select
# Create an engine to the census database
# dialect and driver ('postgresql+psycopg2://')
# username and password ('student:datacamp')
# host and port ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'), 
# database name ('census')
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')
connection = engine.connect()
engine.table_names()

['census', 'state_fact', 'vrska', 'data', 'users']

## Autoloading Tables from a Database

In [2]:
# Import Table
from sqlalchemy import Table, MetaData
metadata = MetaData()
# Reflect census table from the engine: census
company = Table('COMPANY', metadata, autoload=True, autoload_with=engine)
# Print census table metadata
print(repr(company))

Table('COMPANY', MetaData(bind=None), Column('ID', INTEGER(), table=<COMPANY>, primary_key=True, nullable=False), Column('NAME', TEXT(), table=<COMPANY>, nullable=False), Column('AGE', INTEGER(), table=<COMPANY>, nullable=False), Column('ADDRESS', CHAR(length=50), table=<COMPANY>), Column('SALARY', REAL(), table=<COMPANY>), schema=None)

## Viewing Table Details

In [14]:
print(company.columns.keys())

['ID', 'NAME', 'AGE', 'ADDRESS', 'SALARY']

# Writing sql query
## Select Columns

* Get a single column

    ```{sql}
    SELECT col_name
    FROM data_table_name;
    ```

* Get multiple columns
    
    ```{sql}
    SELECT col_name_1, col_name_2
    FROM data_table_name;
    ```

* Get all columns in one data table
    
    ```{sql}
    SELECT *
    FROM data_table_name;
    ```

* Select all the unique values from a column
    
    ```{sql}
    SELECT DISTINCE col_name
    FROM data_table_name;
    ```
* Return the number of rows in one data table
    
    ```{sql}
    SELECT DISTINCE COUNT(*)
    FROM data_table_name;
    ```

In [5]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///testDB.db')
connection = engine.connect()
stmt = "SELECT * FROM oldfaithful"
results_proxy = connection.execute(stmt)
results = results_proxy.fetchall()
first_row = results[0]
first_row,first_row.keys(), first_row.waiting

(('3.6', '79'), ['eruptions', 'waiting'], '79')

In [8]:
# sqlalchemy equivalent
from sqlalchemy import Table, MetaData, select
metadata = MetaData()
oldfaithful = Table('oldfaithful', metadata, autoload=True, autoload_with=engine)
stmt = select([oldfaithful])
print(stmt)
data = connection.execute(stmt).fetchall()
data[0]

SELECT oldfaithful.eruptions, oldfaithful.waiting
FROM oldfaithful

('3.6', '79')

In [7]:
stmt = "SELECT DISTINCT COUNT(*) FROM oldfaithful"
results_proxy = connection.execute(stmt)
results = results_proxy.fetchall()
results

[(272,)]

## Filter Results

In SQL, the `WHERE` keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

* `=` equal
* `<>` not equal
* `<` less than
* `>` greater than
* `<=` less than or equal to
* `>=` greater than or equal to

Basic Structure:

```{sql}
SELECT col_name
FROM data_table_name
WHERE filter_condtion
```

* Simple filtering of numeric values
    
    ```{sql}
    SELECT *
    FROM film
    WHERE budget > 10000;
    ```

* Simple filtering of text

    ```{sql}
    SELECT title
    FROM film
    WHERE country = 'China';
    ```

In [1]:
from sqlalchemy import create_engine, Table, MetaData, select, Column, Integer, String
import pandas as pd
engine = create_engine('sqlite:///testDB.db')
connection = engine.connect()
metadata = MetaData()
performance = Table('performance', metadata, Column('math score', Integer, key='math_score'), Column("race/ethnicity", String, key="race"), autoload=True, autoload_with=engine, extend_existing=True)
stmt = select([performance])
stmt = stmt.where(performance.columns.math_score > 80)  # performance.columns.gender=="female"
results = connection.execute(stmt).fetchall()
data = pd.DataFrame(results, columns=results[0].keys())
data.head(6)

NameError: name 'metadata' is not defined

* Filter based on multiple conditions
        
    ```{sql}
    --You can add as many AND conditions as you need!
    SELECT title
    FROM films
    WHERE release_year > 1994
    AND release_year < 2000;
    ```


* Select rows based on multiple conditions where some but not all of the conditions need to be met
        
    ```{sql}
    SELECT title
    FROM films
    WHERE (release_year = 1994 OR release_year = 1995)
    AND (certification = 'PG' OR certification = 'R');
    ```

* The `BETWEEN` keyword provides a useful shorthand for filtering values within a specified range.

    ```{sql}
    --It's important to remember that BETWEEN is inclusive, 
    --meaning the beginning and end values are included in the results!
    SELECT title
    FROM films
    WHERE release_year
    BETWEEN 1994 AND 2000;
    ```
    
* The `IN` operator allows you to specify multiple values in a `WHERE` clause, making it easier and quicker to specify multiple `OR` conditions. It can also be used in conjunction with `NOT`.
        
    ```{sql}
    SELECT name
    FROM kids
    WHERE age IN (2, 4, 6, 8, 10);
    
    SELECT title, language
    FROM FILMS
    WHERE language IN ('English', 'Spanish', 'French');
    ```

In [ ]:
stmt = select([performance])
races = ["group B", "group C"]
stmt = stmt.where(performance.columns.race/ethnicity)  # performance.columns.gender=="female"
results = connection.execute(stmt).fetchall()
data = pd.DataFrame(results, columns=results[0].keys())
data.head(6)

* `NULL` represents a missing or unknown value. You can check for `NULL` values using the expression `IS NULL`. Sometimes, you'll want to filter out missing values so you only get results which are not NULL. To do this, you can use the `IS NOT NULL` operator.

    ```{sql}
    SELECT name
    FROM people
    WHERE birthdate IS NOT NULL
    ```
    

* Search for Patterns:  The `LIKE` operator can be used in a `WHERE` clause to search for a pattern in a column. You can also use the `NOT LIKE `operator to find records that don't match the pattern you specify.
    
    *  The `%` wildcard will match zero, one, or many characters in text.  For example, the following query matches companies like `'Data'`, `'DataC'` `'DataCamp'`, `'DataMind'`, and so on

        ```
        SELECT name
        FROM companies
        WHERE name LIKE 'Data%';
        ```
    * The `_` wildcard will match a single character. For example, the following query matches companies like `'DataCamp'`, `'DataComp'`, and so on:
    
        ```{sql}
        SELECT name
        FROM companies
        WHERE name LIKE 'DataC_mp';
        ```

## Aggregation
SQL provides a few functions, called *aggregate functions*  to perform some calculation on the data in a database.


```
SELECT SUM(duration)
FROM films;
```

Possible functions: `SUM`,`AVG`,`MAX`,`MIN`. In addition to using aggregate functions, you can perform basic arithmetic with symbols like `+`, `-`, `*`, and `/`.

* Combining aggregate functions with `WHERE`
    
    ```
    SELECT AVG(gross)
    FROM films
    WHERE title LIKE 'A%';
    ```

* Basic arithmetic

    ```{sql}
    SELECT (4 * 3);
    ```
    
* Aliasing simply means you assign a temporary name to something. To alias, you use the `AS` keyword, 

    
    ```{sql}
    SELECT MAX(budget) AS max_budget,
           MAX(duration) AS max_duration
    FROM films;
    ```
    
    ```
    SELECT title, (gross - budget) AS net_profit
    FROM films;
    ```

## Order By
`ORDER BY` keyword is used to sort results in ascending or descending order according to the values of one or more columns. By default `ORDER BY` will sort in ascending order. If you want to sort the results in descending order, you can use the `DESC` keyword. For example,


```
SELECT title
FROM films
ORDER BY release_year DESC;
```

* Sorting multiple columns

    
```{sql}
--sorts on birth dates first (oldest to newest) and then sorts on the names in alphabetical order. The order of columns is important!
SELECT birthdate, name
FROM people
ORDER BY birthdate, name;
```

* `GROUP BY`

    `GROUP BY` allows you to group a result by one or more columns. Commonly, `GROUP BY` is used with aggregate functions like `COUNT()` or `MAX()`. Note that `GROUP BY `always goes after the `FROM` clause!


    ```{sql}
    SELECT sex, count(*)
    FROM employees
    GROUP BY sex;
    ```
    
    Make sure to always put the `ORDER BY` clause at the end of your query. You can't sort values that you haven't calculated yet!
    
    
    ```
    SELECT release_year, country, max(budget)
    FROM films
    GROUP BY release_year, country
    ORDER BY release_year, country
    ```

* `HAVING`
    
    In SQL, aggregate functions can't be used in `WHERE` clauses. This means that if you want to filter based on the result of an aggregate function, you need another way! That's where the `HAVING` clause comes in.

    ```
    SELECT release_year
    FROM films
    GROUP BY release_year
    HAVING COUNT(title) > 10;
    ```

* `JOIN`
    
    In the real world however, you will often want to query multiple tables. For example, what if you want to see the IMDB score for a particular movie?

    In this case, you'd want to get the ID of the movie from the `films` table and then use it to get IMDB information from the `reviews` table. In SQL, this concept is known as a join, and a basic join is shown below.
    
    ```
    SELECT title, imdb_score
    FROM films
    JOIN reviews
    ON films.id = reviews.film_id
    WHERE title = 'To Kill a Mockingbird';
    ```